<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.EmployeeMapper">
	<resultMap type="com.zb.entity.Employee" id="resultEmpl">
			<id property="empId" column="emp_id"/>
			<result property="empCode" column="emp_code"/>
			<result property="empName" column="emp_name"/>
	</resultMap>
	
	<!-- 全部查询，用于添加维护信息下拉菜单选择员工 -->
	<select id="findEmployeeList" resultMap="resultEmpl">
			select * from employee
	</select>
</mapper>
