<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.Equ_LocaleMapper" >
	<resultMap type="com.zb.entity.Equ_Locale" id="resultEquLocaleMap">
	<id property="equId" column="equ_id"/>
		<result property="equCode" column="equ_code"/>
		<result property="localeCode" column="locale_code"/>
		<result property="elTimeout" column="el_timeout"/>
		<result property="elTimein" column="el_timein"/>
		<result property="elPersonOut" column="el_personout"/>
		<result property="elReason" column="el_reason"/>
		<result property="elPersonIn" column="el_personin"/>
		<result property="elStatus" column="el_status"/>
	</resultMap>
	
	<!-- 设备出库，同步写入 -->
	<insert id="addEquLocale" parameterType="com.zb.entity.Equ_Locale">
			insert into equ_locale values(seq_el.nextval,
																#{equCode},
																null,
																sysdate,
																null,#{elPersonOut},#{elReason},null,#{elStatus})  <!--出库时，新增：设备编码，日期，领取人-->
	</insert>
		<!-- 设备安装，同步修改状态 -->
	<update id="implEquLocale" parameterType="com.zb.entity.Equ_Locale">
			update equ_locale set locale_code = #{localeCode},el_status ='3'	       <!-- 1、待安装；2、暂借；3、安装完成；4、返修；5、返厂 -->
									   					where equ_code = #{equCode}     <!-- 安装的时候记录里填入场所编码 -->
	</update>
	<!-- 设备返修，同步修改返修时间 -->
	<update id="reInEquLocale" parameterType="com.zb.entity.Equ_Locale">
			update equ_locale set el_timein = sysdate,
												   el_reason = #{elReason},
												   el_personin = #{elPersonIn},          <!-- 如果状态为2(暂借)  修改状态为2(暂借记录)，如果状态为1/3(未安装/已安装)：修改状态为4(返修记录) -->
												   el_status = #{elStatus} 
									         where equ_code = #{equCode}
	</update>
	<!-- 返厂还回记录 -->
	<update id="backInEqu" parameterType="com.zb.entity.Equ_Locale">
				update equ_locale set el_timein = sysdate,
														el_personin = #{elPersonIn}
				 										where equ_code = #{equCode}
	
	</update>
	<!-- 求总数 -->
	<select id="elCount" parameterType="com.zb.entity.Equ_Locale" resultType="int">
			select count(*) from equ_locale where equ_code = #{equCode}
	</select>
	
	<!-- 查询设备返修历史记录（不包含返厂信息） -->
	<select id="findElByEquCode"  resultMap="resultEquLocaleMap">
			select el.equ_code, el.locale_code, el.el_timeout, el.el_timein, el.el_personout, el.el_personin, el.el_reason 
														from equ_locale el 
														where el.equ_code = #{equCode} 
														<![CDATA[
															and el.el_status <> '5'
														]]>
	</select>
	<!-- 查询设备返厂记录 -->
	<select id="findElBackByEquCode"  resultMap="resultEquLocaleMap">
			select el.equ_code, el.locale_code, el.el_timeout, el.el_timein, el.el_personout, el.el_personin, el.el_reason 
														from equ_locale el 
														where el.equ_code = #{equCode} 
															and el.el_status = '5'		
	</select>									
</mapper>
