<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.EquipmentMapper">
		<resultMap type="com.zb.entity.Equipment" id="equResultMap">
			<id property="equId"  column="equ_id"/>
			<result property="equCode" column="equ_code"/>
			<result property="equName" column="equ_name"/>
			<result property="equMac" column="equ_mac"/>
			<result property="equModel" column="equ_model"/>
			<result property="equType" column="equ_type"/>
			<result property="equIndate" column="equ_indate"/>
			<result property="equLocaleCode" column="equ_locale_code"/>
			<result property="equStatus" column="equ_status"/>
			<result property="equServiceLog" column="equ_service_log"/>
			<result property="equRemark" column="equ_remark"/>
			<result property="equPerson" column="equ_person"/>
			<result property="equUpOrDown" column="equ_upordown"/>
			<association property="supplier" javaType="com.zb.entity.Supplier">
					<result property="suId" column="su_id"/>
					<result property="suName" column="su_name"/>
					<result property="suCode" column="su_code"/>
					<result property="suAddress" column="su_address"/>
			</association>
		</resultMap>
		
		
		<sql id="where_sql">
				<!-- 设备编码不为空 -->
				<if test="equCode !=null">
					and equ.equ_code = #{equCode}
				</if>
				<!-- 设备MAC 不为空 -->
				<if test="equMac !=null">
					and equ_mac = #{equMac}
				</if>
				<!-- 设备型号不为空 -->
				<if test="equModel !=null">
					and equ_model like '%'||#{equModel}||'%'
				</if>
				<!-- 设备种类不为空 -->
				<if test="equType !=null">
					and equ_type like '%'||#{equType}||'%'
				</if>
				<!-- 设备厂商不为空 -->
				<if test="supplier !=null">
					and equ_supplier = #{supplier}
				</if>
				<!-- 场所编码不为空 -->
				<if test="equLocaleCode !=null">
					and equ_locale_Code = #{equLocaleCode}
				</if>
				<!-- 设备安装状态不为空 -->
				<if test="equStatus !=null">
					and equ_status = #{equStatus}
				</if>
				<!-- 设备维修记录不为空 -->
				<if test="equServiceLog !=null">
					and equ_service_log = #{equServiceLog}
				</if>
				<!-- 是否上平台不为空 -->
				<if test="equUpOrDown !=null">
					and equ_upordown = #{equUpOrDown}
				</if>
		</sql>
		<select id="findEquList" parameterType="map" resultMap="equResultMap">
					select * from (
						select e.*, rownum as r from ( 
					         select equ.*,lbi.locale_name,el.el_timeout,el.el_timein,s.su_name from equipment equ 
					             inner join supplier s on equ.equ_supplier = s.su_id 
					             left join locale_basic_info lbi on equ.equ_locale_code = lbi.locale_code 
					             left join equ_locale el on equ.equ_code = el.equ_code
					            		
									<!--  
						select  * rownum as r from (
							 select equ.*,lbi.locale_code,lbi.locale_name,el.equ_code,el.locale_code,el.el_timeout,el.el_timein from equipment equ 
						             inner join supplier s on equ.equ_supplier = s.su_id 
						             left join locale_basic_info lbi on equ.equ_locale_code = lbi.locale_code 
						             left join equ_locale el on equ.equ_code = el.equ_code
						             -->
					         			where 1=1  <include refid="where_sql"/>
												  ) e)
											<![CDATA[
												where r>=#{start} and r<=#{end}
											]]>
		</select>
		
		<select id="findEquCount"  parameterType="map" resultType="int">
							select count(*) from (
					         select equ.*,lbi.locale_name,el.el_timeout,el.el_timein,s.su_name from equipment equ 
					             inner join supplier s on equ.equ_supplier = s.su_id 
					             left join locale_basic_info lbi on equ.equ_locale_code = lbi.locale_code 
					             left join equ_locale el on equ.equ_code = el.equ_code
					             where 1=1
					              <include refid="where_sql"/>
					             )
					         
		</select>
		
		<!-- 新增设备 -->
		<insert id="addEqu" parameterType="com.zb.entity.Equipment">
				insert into equipment values(seq_equ.nextval,
																#{equCode},
																#{equName},
																#{equMac},
																#{equModel},
																#{equType},
																#{supplier.suId},
																sysdate,
																null,		<!-- 新增设备无场所信息 -->
																'0',		<!-- 新增设备状态为在库（0：在库；1:已安装） -->
																0,			<!-- 新增设备返修次数为0 -->
																#{equRemark},
																null,null)			
		</insert>
		<!-- 出库设备 -->
		<update id="equOut" parameterType="com.zb.entity.Equipment">
			update equipment set  equ_status = #{equStatus},         <!--出库设备状态为已安装（0：在库；1:出库待安装; 2:暂借; 3：安装成功;） -->
												  equ_person =#{equPerson},
												  equ_remark = #{equRemark}
												  where equ_code =#{equCode}
		
		</update>
		
		<!-- 安装设备 -->
		<update id="equImpl" parameterType="com.zb.entity.Equipment">
			update equipment set equ_locale_code = #{equLocaleCode},
												  equ_status='3',       <!--出库设备状态为已安装（0：在库；1:出库待安装; 2:暂借; 3：安装成功;） -->
												  equ_upordown = #{equUpOrDown}   <!-- 是否上平台 -->
												  where equ_code =#{equCode}
		</update>
		
		<!-- 返修设备 -->
		<update id="equReIn" parameterType="com.zb.entity.Equipment">
			update equipment set equ_locale_code = null,
												 equ_status = '0',
												 equ_service_log = equ_service_log +1,
												 equ_person = null,
												 equ_remark = null                                                                                                                                                                                                                            
												 where equ_code = #{equCode}
		</update>
		<!-- 返厂设备回库 -->
		<update id="inSuEqu" parameterType="com.zb.entity.Equipment">
			update equipment set  equ_status = '0',
												 equ_person = null,
												 equ_remark = #{equRemark}
												 where equ_code = #{equCode}
		</update>
		
		<!-- 修改是否上平台 -->
		<update id="equUpOrDown" parameterType="com.zb.entity.Equipment">
			update equipment set  equ_upordown = #{equUpOrDown}   <!-- 是否上平台 -->
												  where equ_code =#{equCode}
		</update>
</mapper>
