<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.InvoiceMapper">
	<resultMap type="com.zb.entity.Invoice" id="resultInvoiceMap">
			<id property="inId" column="in_id"/>
			<result property="inConcode" column="in_concode"/>
			<result property="inLocalecode" column="in_localecode"/>
			<result property="inConunit" column="in_conunit"/>
			<result property="inInvoiceunit" column="in_invoiceunit"/>
			<result property="inPayunit" column="in_payunit"/>
			<result property="inPaymoney" column="in_paymoney"/>
			<result property="inInvoicetype" column="in_invoicetype"/>
			<result property="inTime" column="in_time"/>
			<result property="inPaytype" column="in_paytype"/>
			<result property="inCycle" column="in_cycle"/>
			<result property="inPaystatus" column="in_paystatus"/>
			<result property="inPaytime" column="in_paytime"/>
			<result property="inConname" column="in_conname"/>
			<result property="inOvid" column="in_ovid"/>
	</resultMap>
	
	<sql id="where_sql">
			<if test="inConcode !=null">
				and in_concode = #{inConcode}
			</if>
			<if test="inConname !=null">
				and in_conname like  '%'||#{inConname}||'%'
			</if>
			<if test="inLocalecode !=null">
				and in_localecode = #{inLocalecode}
			</if>
			<if test="inConunit !=null">
				and in_conunit like '%'||#{inConunit}||'%'
			</if>
			<if test="inPayunit !=null">
				and in_payunit like '%'||#{inPayunit}||'%'
			</if>
			<if test="inInvoiceunit !=null">
				and in_invoiceunit like '%'||#{inInvoiceunit}||'%'
			</if>
			<!-- 开始时间不为空 -->
			<if test="timeFrom !=null">
				and in_paytime <![CDATA[ >= ]]> to_date(#{timeFrom},'yyyy-MM-dd')
			</if>
			<!-- 结束时间不为空 -->
			<if test="timeTo !=null">
				and in_paytime <![CDATA[ <= ]]> to_date(#{timeTo},'yyyy-MM-dd')
			</if>
	</sql>
	
	
	<!-- 开发票同步写入  -->
	<select id="addInvoice" parameterType="com.zb.entity.Invoice" >
				 insert into invoice values (seq_invo.nextval,
																 #{inConcode},
																 #{inLocalecode},
																 #{inConunit},
																 #{inInvoiceunit},
																 #{inPayunit},
																 #{inPaymoney},
																 #{inInvoicetype},
																 sysdate,
																 #{inPaytype},
																 #{inCycle},
																 '0',	  <!-- 写入支付状态为0 -->
																 null,  <!-- 写入支付时间为空 -->
																#{inConname},
																#{inOvid} )	<!-- 仅供逾期表写入时候写入逾期表ID -->
	</select>
	
	<!-- 收款操作，修改合同表的收款状态，同步，修改发票表的收款状态 -->
		<update id="updatePayStatus" parameterType="com.zb.entity.Invoice">
			update invoice set in_paystatus = '1',in_paytime = sysdate 
															where in_id = #{inId}
		</update>
		
		<!-- 退票操作，修改合同表的收款状态为2（作废），同步，修改发票表的收款状态 -->
		<update id="cancelPayStatus" parameterType="com.zb.entity.Invoice">
			update invoice set in_paystatus = '2',in_paytime = sysdate 
															where in_id = #{inId}
		</update>
			
		<!-- 查询状态为0的信息做收款页面展示 -->
		<select id="findInvoiceStatusto0List" parameterType="map" resultMap="resultInvoiceMap">
			select * from (
							select i.*,rownum as r from (
									select * from invoice where in_paystatus = '0'
									<include refid="where_sql"/> 
									) i) 
									<![CDATA[
       									where r>=#{start} and r<=#{end}
       							]]>   
		</select>
		
		<select id="findStatusTo0Count"  parameterType="map" resultType="int">
				select count(*) from (
											select * from invoice where in_paystatus = '0'
											<include refid="where_sql"/> 
											)
		</select>
		
		
		<!-- 已收款记录查询 -->
		<select id="findStatusTo1List" parameterType="map" resultMap="resultInvoiceMap">
				select * from (
							select i.*,rownum as r from (
									select * from invoice where in_paystatus = '1' 
									<include refid="where_sql"/> 
									order by in_paytime desc
									) i) 
									<![CDATA[
       									where r>=#{start} and r<=#{end}
       							]]>   
		</select>
		
		<select id="findStatusTo1Count"  parameterType="map" resultType="int">
				select count(*) from (
											select * from invoice where in_paystatus = '1'
											<include refid="where_sql"/> 
											)
		</select>
</mapper>
