<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.LocaleBasicInfoMapper">
  <resultMap type="com.zb.entity.LocaleBasicInfo" id="LocaleBasicInfoResult">
  			<id property="localeId" column="locale_id"/>
  			<result property="localeCode" column="locale_code"/>
  			<result property="localeName" column="locale_name"/>
  			<result property="localeAddress" column="locale_address"/>
  			<result property="localeLongitude" column="locale_longitude"/>
  			<result property="localeLatitude" column="locale_latitude"/>
  			<result property="localeNature" column="locale_nature"/>
  			<result property="localeLegalPerson" column="locale_legalperson"/>
  			<result property="localeIdNum" column="locale_idnum"/>
  			<result property="localeTelnum" column="locale_telnum"/>
  			 <result property="localeOpen" column="locale_open"/>
  			<result property="localeClose" column="locale_close"/>
  			<result property="localeNetadd" column="locale_netAdd"/>
  			<result property="localeOrgCode" column="locale_orgcode"/>
  			<result property="localeStatus" column="locale_status"/>
  			<result property="localeVpn" column="locale_vpn"/>
  			<association property="localeType" javaType="com.zb.entity.LocaleType">
  					<result property="typeId" column="type_id"/>
  					<result property="typeCode" column="type_code"/>
  					<result property="typeName" column="type_name"/>
  			</association>
  			<association property="localeIdType" javaType="com.zb.entity.LocaleIdType">
  					<result property="idTypeId" column="idtype_id"/>
  					<result property="idTypeNum" column="idtype_num"/>
  					<result property="idTypeName" column="idtype_name"/>
  			</association>
  			<association property="localeArea" javaType="com.zb.entity.LocaleArea">
  					<result property="areaId" column="area_id"/>
  					<result property="areaName" column="area_name"/>
  			</association>
  			<association property="localeNetway" javaType="com.zb.entity.LocaleNetway">
  					<result property="netwayId" column="netway_id"/>
  					<result property="netwayName" column="netway_name"/>
  			</association>
  			<association property="localeOperator" javaType="com.zb.entity.LocaleOperator">
  					<result property="operatorId" column="netway_id"/>
  					<result property="operatorCode" column="operator_code"/>
  					<result property="operatorName" column="operator_name"/>
  			</association>
  </resultMap>
  
  	
  			<!-- 场所下拉框 -->
		  <select id="localeList"  resultMap="LocaleBasicInfoResult">
		  			select * from locale_basic_info
		  </select>
		  
		    <!--按场所编码查找场所名称  -->
		    <select id="findLocaleNameByLocaleCode" resultMap="LocaleBasicInfoResult">
  					select * from locale_basic_info 
  														 where locale_code =#{localeCode}
  	        </select>
  	        
  	           <select id="findLocaleNameAndLocaleCodeList" resultMap="LocaleBasicInfoResult">
  					select locale_name,locale_code from locale_basic_info 
  														
  	        </select>
  <!-- 场所查询条件 -->
  <sql id="where_sql">
  			<if test="localeCode !=null">
  					and locale_code like '%'||#{localeCode}||'%'
  			</if>
  			<if test="localeName !=null">
  					and locale_name like '%'||#{localeName}||'%'
  			</if>
  			<if test="localeArea !=null">
  					and locale_area = #{localeArea}
  			</if>
  			<if test="localeStatus !=null">
  					and locale_status = #{localeStatus}
  			</if>
  </sql>
  
  <!-- 场所查询页：根据条件查询以及显示 -->
  <select id="findLocaleBasicInfo" parameterType="map" resultMap="LocaleBasicInfoResult">
  			select * from (
       			 select l.*,rownum as r from (
               			select * from locale_basic_info lbi,
                             locale_type lt,
                             locale_idtype li,
                             locale_area la,
                             locale_operator lo,
                             locale_netway ln
                        where lbi.locale_type = lt.type_id                                                   
                            and lbi.locale_idtype = li.idtype_id
                            and lbi.locale_area = la.area_id
                            and lbi.locale_operator = lo.operator_id
                            and lbi.locale_netway = ln.netway_id
                             	<include refid="where_sql"/>
								) l)
								<![CDATA[
									where r>=#{start} and r<=#{end}
								]]>
                                 
  </select>
  <!-- 计算总数 -->
		<select id="findLocaleBasicInfoCount" parameterType="map" resultType="int">
					select count(*) from locale_basic_info lbi,
                             locale_type lt,
                             locale_idtype li,
                             locale_area la,
                             locale_operator lo,
                             locale_netway ln
                             where lbi.locale_type = lt.type_id 
                             and lbi.locale_idtype = li.idtype_id
                             and lbi.locale_area = la.area_id
                             and lbi.locale_operator = lo.operator_id
                             and lbi.locale_netway = ln.netway_id
                             	<include refid="where_sql"/>
		</select>
		
		<!-- 添加 -->
		<insert id="addLocale"  parameterType="com.zb.entity.LocaleBasicInfo">
				insert into locale_basic_info values(seq_locale.nextval,
																		  #{localeCode},
																		  #{localeName},
																		  null,
																		  #{localeArea.areaId},
																		  null,
																		  null,
																		  #{localeType.typeId},
																		  1,
																		  null,
																		  #{localeIdType.idTypeId},
																		  null,
																		  null,
																		  null,
																		  null,
																		  #{localeNetway.netwayId},
								                                          #{localeOperator.operatorId},
																		  null,
																		  null,
																		  1,
																		  null
																		<!--
																		 #{localeAddress},
								                                          #{localeArea.areaId},
								                                          #{localeLongitude},
								                                          #{localeLatitude},
								                                          #{localeType.typeId},
								                                          #{localeNature},
								                                          #{localeLegalPerson},
								                                          #{localeIdType.idTypeId},
								                                          #{localeIdNum},
								                                          #{localeTelnum},
								                                          #{localeOpen},
								                                          #{localeClose},
								                                          #{localeNetway.netwayId},
								                                          #{localeOperator.operatorId},
								                                          #{localeNetadd},
								                                          #{localeOrgCode},
								                                          #{localeStatus},
								                                          #{localeVpn}
								                                          
								                                          --> )
		</insert>
		
		<!-- 修改 -->
		<update id="updateLocale" parameterType="com.zb.entity.LocaleBasicInfo">
				update locale_basic_info set locale_code=#{localeCode},
																locale_name=#{localeName},
																locale_address=#{localeAddress},
																locale_area = #{localeArea.areaId},
																locale_longitude = #{localeLongitude},
																locale_latitude = #{localeLatitude},
																locale_type = #{localeType.typeId},
																locale_nature = #{localeNature},
																locale_legalperson =  #{localeLegalPerson},
																locale_idType = #{localeIdType.idTypeId},
																locale_idnum = #{localeIdNum},
																locale_telnum = #{localeTelnum},
																locale_open = #{localeOpen},
																locale_close = #{localeClose},
																locale_netway = #{localeNetway.netwayId},
																locale_operator = #{localeOperator.operatorId},
																locale_netadd = #{localeNetadd},
																locale_orgcode = #{localeOrgCode},
																locale_status = #{localeStatus},
																locale_vpn = #{localeVpn}
																where locale_id = #{localeId}
		</update>
		
		<!-- 删除 -->
		<delete id="delLocale" parameterType="int">
			delete from locale_basic_info where locale_id = #{localeId}
		</delete>
</mapper>
