<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.LocaleNetwayMapper">
		<resultMap type="com.zb.entity.LocaleNetway" id="localeNetwayResult">
				<id property="netwayId" column="netway_id"></id>
				<result property="netwayName" column="netway_name"/>
		</resultMap>
		

		<select id="findLocaleNetWay" resultMap="localeNetwayResult">
				select  *  from locale_netway
		</select>
	
</mapper>
