<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.LocaleAreaMapper" >
		<resultMap type="com.zb.entity.LocaleArea" id="localeAreaResult">
				<id property="areaId" column="area_id"/>
				<result property="areaName" column="area_name"/>
		</resultMap>


		<select id="findLocaleArea" resultMap="localeAreaResult">
					select * from locale_area
		</select>
		
</mapper>
