<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.MaintenanceMapper">
 	<resultMap type="com.zb.entity.Maintenance" id="resultMainMap">
 			<id property="mainId" column="main_id"/>
 			<result property="mainLocaleLink" column="main_locale_link"/>
 			<result property="mainLocaleTel" column="main_locale_tel"/>
 			<result property="mainCccType" column="main_ccc_type"/>
 			<result property="mainType" column="main_type"/>
 			<result property="mainFaultCause" column="main_fault_cause"/>
 			<result property="mainFaultDescription" column="main_fault_description"/>
 			<result property="mainEquipmentType" column="main_equipment_type"/>
 			<result property="mainEquipmentModel" column="main_equipment_model"/>
 			<result property="mainDate" column="main_date"/>
 			<result property="mainProcessMode" column="main_process_mode"/>
 			<result property="mainResult" column="main_result"/>
 			<result property="mainCompany" column="main_company"/>
 			<result property="mainRemark" column="main_remark"/>
 			<result property="mainLocaleStatus" column="main_locale_status"/>
 			<association property="localBasicInfo" javaType="com.zb.entity.LocaleBasicInfo">
 					<result property="localeId"  column="locale_id"/>
 					<result property="localeCode" column="locale_code"/>
 					<result property="localeName" column="locale_name"/>
 					<result property="localeMark" column="locale_mark"/>
 			</association>
 			
 			<association property="employee"  javaType="com.zb.entity.Employee">
 					<result property="empId" column="emp_id"/>
 					<result property="empCode" column="emp_code"/>
 					<result property="empName" column="emp_name"/>
 			</association>
 			<association property="localeArea" javaType="com.zb.entity.LocaleArea">
 					<result property="areaId" column="area_id"/>
  					<result property="areaName" column="area_name"/>
 			</association>
 	</resultMap>
 	
 			<sql id="where_sql">
 					<!-- 城市不为空 -->
 					<if test="localeArea >0">
 						and main_area = #{localeArea}
 					</if>
 					<!-- 如果公司不为空 -->
 					<if test="mainCompany !=null">
 						and main_company = #{mainCompany}
 					</if>
 					<!-- 如果日期不为空 -->
 					<if test="mainDateFrom!=null">
						and main_date <![CDATA[ >= ]]>to_date(#{mainDateFrom},'yyyy-MM-dd')
					</if>
					<if test="mainDateTo !=null">
						and main_date <![CDATA[ <= ]]>to_date(#{mainDateTo},'yyyy-MM-dd') +1
					</if>
 					<!-- 维护类型如果不为空 -->
 					<if test="mainType !=null">
 						and main_type like '%'||#{mainType}||'%'
 					</if>
 					<!-- 故障原因如果不为空 -->
 					<if test="mainFaultCause !=null">
 						and main_fault_cause like '%'||#{mainFaultCause}||'%'
 					</if>
 					<if test="mainEquipmentType !=null">
 						and main_equipment_type like '%'||#{mainEquipmentType}||'%'
 					</if>
 					<!-- 故障机型如果不为空 -->
 					<if test="mainEquipmentModel !=null">
 						and main_equipment_model like '%'||#{mainEquipmentModel}||'%'
 					</if>
 					<!-- 维护结果如果不为空 -->
 					<if test="mainResult !=null">
 						and main_result like '%'||#{mainResult}||'%'
 					</if>
 					<!-- 场所状态如果不为空 -->
 					<if test="mainLocaleStatus !=null">
 						and main_locale_status like '%'||#{mainLocaleStatus}||'%' 
 					</if>
 					<if test="localeName !=null">
 						 and lbi.locale_name like '%'||#{localeName}||'%'  or lbi.locale_code =#{localeName}
 					</if>
 			</sql>
 				<!-- 组合查询，分页展示 -->
 			<select id="findMainList" parameterType="map" resultMap="resultMainMap">
 					select * from (
					       select m.*,rownum as r from (
					              select * from Maintenance m,
					                            locale_basic_info lbi,
					                            locale_area la,
					                            employee e 
					                            where m.main_locale_id = lbi.locale_id
					                            and m.main_maintainer = e.emp_id 
					                             and m.main_area = la.area_id
					                            <include refid="where_sql"/>
					                              order by m.main_date desc
					                            ) m) 
					                          <![CDATA[
					                          	where r>=#{start} and r<=#{end}
					                          ]]>
 			</select>
 			<!-- 求总条数 -->
 			<select id="findMainCount" parameterType="map" resultType="int">
 					select count(*) from Maintenance m,
						                              locale_basic_info lbi,
						                              locale_area la,
						                              employee e 
						                              where m.main_locale_id = lbi.locale_id
						                              and m.main_maintainer = e.emp_id 
						                               and m.main_area = la.area_id
						                              <include refid="where_sql"/>
 			</select>
 			
 			<insert id="addMain" parameterType="com.zb.entity.Maintenance">
 					insert into maintenance values(seq_main.nextval,
 																		 #{localBasicInfo.localeId},
 																		 #{mainLocaleLink},
 																		 #{mainLocaleTel},
 																		 #{mainCccType},
 																		 #{mainType},
 																		 #{mainFaultCause},
 																		 #{mainFaultDescription},
 																		 #{mainEquipmentType},
 																		 #{mainEquipmentModel},
 																		 #{employee.empId},
 																		 to_date( #{mainDate},'yyyy-MM-dd'),
 																		 #{mainProcessMode},
 																		 #{mainResult},
 																		 #{mainCompany},
 																		 #{mainRemark},
 																		 #{mainLocaleStatus},
 																		 #{localeArea.areaId}
 																		 )
 																		 
 			</insert>
</mapper>
