<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.RightsMapper">
  	<resultMap type="com.zb.entity.Rights" id="rightsResult">
        <id property="id"   column="rg_id"/>
        <result property="rightsname"   column="rightsname"/>
        <result property="parentid"   column="parentid"/>
        <result property="url"   column="url"/>
    </resultMap>
    
    <!-- 查询全部权限 -->
    <select id="findRights"  resultMap="rightsResult">
       select *  from rights
    </select>
</mapper>
