<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.OverdueMapper">
	<resultMap type="com.zb.entity.Overdue" id="resultOverdueMap">
			<id property="ovId" column="ov_id"/>
			<result property="ovCode" column="ov_code"/>
			<result property="ovName" column="ov_name"/>
			<result property="ovAmount" column="ov_amount"/>
			<result property="ovCycle" column="ov_cycle"/>
			<result property="ovPaymethod" column="ov_paymethod"/>
			<result property="ovLocalecode" column="ov_locale_code"/>
			<result property="ovUnit" column="ov_unit"/>
			<result property="ovInvoiceunit" column="ov_invoiceunit"/>
			<result property="ovPayunit" column="ov_payunit"/>
			<result property="ovPaymoney" column="ov_paymoney"/>
			<result property="ovInvoicetype" column="ov_invoicetype"/>
			<result property="ovInvoicestatus" column="ov_invoiceStatus"/>
			<result property="ovCollection" column="ov_Collection"/>
			<result property="ovTime" column="ov_Time"/>
	</resultMap>
	
			<sql id="where_sql">
			<if test="ovCode !=null">
				and ov_code = #{ovCode}
			</if>
			<if test="ovName !=null">
				and ov_name like  '%'||#{ovName}||'%'
			</if>
			<if test="ovLocalecode !=null">
				and ov_localecode = #{ovLocalecode}
			</if>
			<if test="ovUnit !=null">
				and ov_unit like '%'||#{ovUnit}||'%'
			</if>
			<if test="ovPayunit !=null">
				and ov_payunit like '%'||#{ovPayunit}||'%'
			</if>
			<if test="ovInvoiceunit !=null">
				and ov_invoiceunit like '%'||#{ovInvoiceunit}||'%'
			</if>
			<!-- 开始时间不为空 -->
			<if test="timeFrom !=null">
				and in_paytime <![CDATA[ >= ]]>to_date(#{timeFrom},'yyyy-MM-dd')
			</if>
			<!-- 结束时间不为空 -->
			<if test="timeTo !=null">
				and in_paytime <![CDATA[ <= ]]>to_date(#{timeTo},'yyyy-MM-dd')
			</if>
	</sql>
			
			<!-- 自动更新时候如果为0，同步写入逾期表 -->
			<insert id="addOverdue" parameterType="com.zb.entity.Overdue">
				insert into overdue values(seq_over.nextval,
																	#{ovCode},
																	#{ovName},
																	#{ovAmount},
																	#{ovCycle},
																	#{ovPaymethod},
																	#{ovLocalecode},
																	#{ovUnit},
																	#{ovInvoiceunit},
																	#{ovPayunit},
																	#{ovPaymoney},
																	#{ovInvoicetype},
																	'0',
																	'0',
																	sysdate)
			
			</insert>
			
			
			<!-- 查出所有逾期表开票状态为0的记录 -->
			<select id="findOverdueList"  parameterType="map" resultMap="resultOverdueMap">
							select * from (select o.*, rownum as r from (
									select o.*,c.con_localestatus from overdue o, contract c  
																				where  o.ov_code = c.con_code
																					 and o.ov_collection = '0'
																					 and c.con_localestatus = '1'
										<include refid="where_sql"/>
									) o) 
									<![CDATA[
       									where r>=#{start} and r<=#{end}
       							]]>     							
			</select>
			
			<select id="findOverdueCount" parameterType="map" resultType="int">
							select count(*) from(
									select o.*,c.con_localestatus from overdue o, contract c  
																				where  o.ov_code = c.con_code
																					 and o.ov_collection = '0'
																					 and c.con_localestatus = '1'
										<include refid="where_sql"/>
										)
			</select>
			
			<!-- 开票操作：修改开票状态 -->
			<update id="updateInvoiceStatus" parameterType="com.zb.entity.Overdue">
							 update overdue set ov_invoicestatus = '1'
							 					     where ov_id = #{ovId} 
			</update>
			
			<!-- 退票操作：修改开票状态 -->
			<update id="updateInvoiceStatusTo0" parameterType="com.zb.entity.Overdue">
							 update overdue set ov_invoicestatus = '0'
							 					     where ov_id = #{ovId} 
			</update>
			
			<!-- 收款操作同步修改收款状态 -->
			<update id="updateCollectionStatus" parameterType="com.zb.entity.Overdue">
							update overdue set ov_collection = '1' 
													where ov_id = #{ovId}
			</update>
			
</mapper>
