<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.SupplierMapper">
			<resultMap type="com.zb.entity.Supplier" id="supplierResult">
				<id property="suId" column="su_id"/>
				<result property="suName" column="su_name"/>
				<result property="suCode" column="su_code"/>
				<result property="suAddress" column="su_address"/>
			</resultMap>
			
			<select id="findSupplierList" resultMap="supplierResult">
						select * from supplier 
			</select>
</mapper>
